
<p>
  <strong>Name:</strong>
  <%= @lead.name %>
</p>

<p>
  <strong>Phone number:</strong>
  <%= @lead.phone_number %>
</p>

<p>
  <strong>Email:</strong>
  <%= @lead.email %>
</p>

<p>
  <strong>Comment:</strong>
  <%= @lead.comment %>
</p>

<p>
  <strong>Ip address:</strong>
  <%= @lead.ip_address %>
</p>

<%= link_to 'Edit', edit_lead_path(@lead) %> |
<%= link_to 'Back', leads_path %>
